*{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border: none;
    overflow-x: hidden;
}
.icon-sousuo{
    display: inline-block;
    font-size: 20px;
    color: #757575;
    position: absolute;
    top: 3.8%;
    right: 5%;
}
nav ul{  
    position: fixed;
    width: 100%;
    left: 0;
    bottom: -0.05rem;
    z-index: 100;
    display: flex;
    background-color: #fff;
    padding: 0.1rem 0 0.1rem 0;
}
nav a{
    display: inline-block;
    color: #000;
}
nav p{
    font-size: 0.0999rem;
}
nav li{
    width: 19%;
    text-align: center;
}
nav .icon-zhuye,.icon-dianshi,.icon-q24gl-stopSquare,.icon-jinrongquan,.icon-wode{
    font-size: 0.2rem;
    color: #757575;
}